# Node.js
node_modules/
dist/
build/
.temp/
*.log
artifacts/

# Tooling caches
.npm/
.yarn/
.pnpm-store/
.eslintcache

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Generated CSS
src/chrome-ext/tailwind.css
.venv/
