@import "tailwindcss";

@theme {
  --color-brand-primary: #3f50b5;
  --color-brand-surface: #202124;
  --color-brand-surfaceLight: #f5f5f5;
}

@layer base {
  body {
    @apply bg-brand-surfaceLight text-gray-900 font-sans;
  }

  body.dark {
    @apply bg-brand-surface text-gray-100;
  }
}

@layer components {
  .card {
    @apply rounded-xl border border-slate-200 bg-white shadow-sm;
  }
}
